@font-face {
  font-family: myFirstFont;
  src: url("./assets/FontsFree-Net-ir_sans.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: myFirstFont;
  background: #fff;
  background-color: rgb(214, 210, 210);
}

.loading {
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 40%;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}

.error {
  color: red;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(240, 28, 28, 0.25);
  background-color: rgb(168, 100, 100);
  width: 40%;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}
